@charset "UTF-8";
/* Your custom styles */

/* ===== Home Page Start ===== */

/* Template styles */

        /* Necessary for full page carousel*/

.full-height, .full-height body, .full-height header, .full-height header .view, .full-height body .view {
	height: 100%;
	max-height: 100vh;
}

@media (max-width: 740px) {
.full-height, .full-height body, .full-height header, .full-height header .view, .full-height body .view {
	height: 700px;
	max-height: 700px;
}
}

@media (min-width: 1000px) and (max-width: 1025px) {
.full-height, .full-height body, .full-height header, .full-height header .view, .full-height body .view {
	height: 770px;
	max-height: 770px;
}
}

@media (min-width: 1025px) {
.view video {
	height: 100vh;
	width: 100%;
	object-fit: cover;
}
}
.navbar {
	background-color: transparent;
}
.scrolling-navbar {
	-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
	transition: background .5s ease-in-out, padding .5s ease-in-out;
}
.top-nav-collapse {
	background-color: #1C2331;
}
footer.page-footer {
	background-color: #1C2331;
	margin-top: 0;
}

@media only screen and (max-width: 768px) {
.navbar {
	background-color: #1C2331;
}
}
/* Carousel*/
.flex-center {
	color: #fff;
}
.carousel-caption {
	height: 100%;
	padding-top: 7rem;
}
.navbar .btn-group .dropdown-menu a:hover {
	color: #000 !important;
}
.navbar .btn-group .dropdown-menu a:active {
	color: #fff !important;
}
.pagination.pg-dark .active .page-link {
	background-color: #1c2331;
}
/* */


/* Cascading cards Start */
#cascading-cards {
	padding: 50px 0;
}
/* Cascading cards End */


/* Section: Features v.4 Start */
#features {
	padding: 50px 0;
}
/* Section: Features v.4 End */


/* Section: Team v.4 Start */
#team {
	padding: 50px 0;
}
/* Section: Team v.4 End */


/* Section: Testimonials v.2 Start */
#testimonial {
	padding: 50px 0;
}
/* Section: Testimonials v.2 End */


/* ===== Home Page End ===== */





/* ===== Blog Page Start ===== */

/* Section: Blog v.3 */
.py-4 {
	padding-top: 5.5rem !important;
}

/* ===== Blog Page End ===== */




/* ===== Contact Page Start ===== */

/* Section: Contact v.1 Start */
#contact {
	padding: 50px 0;
}

/* ===== Contact Page End ===== */
/* Section: Contact v.1 End */
